<div class="modal-header">
  <h1 class="modal-title pull-left">Plan your day!</h1>
  <h2 class="modal-title pull-left">User: Ivan Ivaniv. Count of Task {{ tasks.length }}</h2>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <input type="text" id="" class="form-control" #taskInput />
    </div>
    <button type="button" (click)="addTask(taskInput.value)" class="btn btn-success">
      Add
    </button>
  </form>
</div>

<table class="table">
  <thead>
    <th>#</th>
    <th>Task</th>
    <th>Check</th>
    <th>Done/In Progress</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; let i = index">
      <!-- <pre>{{ tasks | json }}</pre> -->
      <td>{{ i + 1 }}</td>
      <td>{{ task.taskName }}</td>
      <td>
        <input type="checkbox" (change)="checkCheckbox(taskCheckbox.checked, i)" #taskCheckbox />
      </td>
      <td>{{ task.taskStatus }}</td>
      <td>
        <button (click)="editTask(task.taskName)" class="btn btn-warning" [disabled]="taskCheckbox.checked">
          edit
        </button>
      </td>
      <td>
        <button (click)="deleteTask(i)" class="btn btn-danger" [disabled]="!taskCheckbox.checked">
          delete
        </button>
      </td>
    </tr>
    <tr *ngIf="editStatus">
      <td></td>
      <td></td>
      <td></td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="editedTaskName" />
      </td>
      <td>
        <button type="button" class="btn btn-success" (click)="saveEditTask()">
          save
        </button>
      </td>
    </tr>
  </tbody>
</table>